*{
    font-family: 'Poppins',sans-serif;
    margin: 0%;
    padding:0%
}
#icon{
    width: 35px;
    height: auto;
}
.sidemenu{
    display: flex;
    flex-direction: column;
    background-color:rgb(244, 245, 245) ;
    width: 20vw ;
    min-height: 100vh;
    position:fixed;
    left:0;
}
.hd h1{
    justify-content: flex-end;
}
.sidemenu ul{
    justify-content: center;
}
.sidemenu .hd{
    height: 10vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.sidemenu li{
    color: white;
    display:flex;
    font-size: 24px;
    align-items: center;
    padding:10px 40px;
    margin-left: 15px;
}
.sidemenu li:hover{
    background-color: white;
    border-radius: 20px;
    width: 12vw;
    color:rgb(57, 57, 201);
    margin-left: 15px;
}
.container{
    position: absolute;
    right:0;
    width:80vw;
    height:100vh;
    /* background:rgb(41, 26, 32) ; */
    background: rgb(228, 224, 224);
}
.change-passowrd-form {
 
display: flex;
justify-content: center;
align-items: center;

 h1{
text-align: center;
}

.container1{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 60%;
height: 80%;
}
.container1 form{
width:80%;
height: 75%;
padding: 20px;
padding-right: 40px;
background: white;
border-radius: 4px;
box-shadow: 0 8px 16px (0,0,0,.3);
}
.container1 form h3{
text-align:center;
margin-bottom:24px;
color:#222;
}
.container1 form .form-control{
width:100%;
height: 40px;
background: white;
border-radius:4px;
border:1px solid silver;
margin:10px 0 18px 0;
padding:0 10px;
}
.container1 form .btn{
margin-left: 50%;
color: white;
transform: translateX(-50%);
width: 200px;
height: 34px;
border: none;
outline: none;
background:#08beec;
cursor: pointer;
font-size:16px;
text-transform: uppercase;
border-radius:4px;
transition: .3s;


}

.container1 form .btn:hover{
opacity: .7;
}

}

.password-wrapper {
position: relative;
}

.password-toggle {
position: absolute;
top: 50%;
right: 5px;
transform: translateY(-50%);
cursor: pointer;
}


.password-toggle:hover {
color: #08beec;
}